* {
  font-family: sans-serif;
  box-sizing: border-box;
}
body  {
  padding: 20px 12vw 0;
}
.top  {
  line-height: 29px;
  font-size: 20px;
  text-align: justify;
}
.bold {
  font-weight: bolder;
}
.welcome {
  text-align: right;
}
img {
  width: 135px;
}
.item {
  display: inline-block;
  width: 25%;
}
a {
  color: #0645AD;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  line-height: 60px;
  align-items: center;
  width: 100%;
  position: relative;
  flex-flow: row wrap;
}
.bottom {
  border-top: grey solid thin;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
}
.commit {
  display: inline-flex;
}
.bottom-links {
  margin-right: 20px;
}
@media max-width:1875px) {
  .item {
    width: 25%;
  }
}
@media (max-width:800px) {
  .item {
    width: 33.3%;
  }
}
@media (max-width:575px) {
  .item {
    width: 50%;
  }
}
